
.backimage::-webkit-scrollbar {
    width: 0;
}

.general {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 20px;
}

.right {
    width: 500px;
    border: 2px solid white;
    background-color: white;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    row-gap: 10px;
    padding: 10px;
}

.left {
    border: 2px solid white;
    display: flex;
    align-items: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.images img {

    border: 2px solid white;
}

.actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.h2 {
    background-color: white;
    color: black;
    width: 200px;
    text-align: center;
    margin-left: 45%;
    opacity: 0.9;
    font-size: 30px;

}