.card {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    height: 430px;
    text-align: center;
    padding: 5px;
}
.cardtext{
    color: white;
}

.star {
    width: 25px;
    margin: 5px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}